{% load static from static %}

<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}core/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}core/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}core/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}core/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}core/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ STATIC_URL }}core/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}core/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'url_shortener/css/style.css' %}">
</head>
<body>
    <div class="content">
        {% if user.is_authenticated %}
            {{ user }} <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
        {% else %}
            <a class="login" href="/login">login</a>
        {% endif %}

        <form action="/" method="post">
            {% csrf_token %}
            <div>
                {{ form.url }}
                <input class="submit" type="submit" value="short it!" />
            </div>
        </form>

        {% if shortened_url %}
            <a class="shortened-url" href="{{ shortened_url }}">{{ host }}/{{ shortened_url }}</a>
        {% endif %}
    </div>
</body>
</html>
